[mysqld]
# 设置字符集
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# 开启远程访问
bind-address=0.0.0.0

# 时区项目，可根据实际需要调整
default-time-zone = "+08:00"

# 最大连接数
max_connections=200

# 日志
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

# 表名大小写敏感设置（macOS 文件系统不区分大小写）
lower_case_table_names=2

# PID 文件位置
pid-file=/var/lib/mysql/mysql.pid

# 禁用 X Plugin（如果不需要）
# mysqlx=0
